/*
 * Portfolio
 */

.mi-portfolio {
  transition: $transition;
  visibility: hidden;
  opacity: 0;
  text-align: center;

  &-image {
    display: block;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 15px;
      top: 15px;
      height: calc(100% - 30px);
      width: calc(100% - 30px);
      background: rgba($color-bg-body, 0.5);
      transition: $transition;
      transform: scaleX(0);
      transform-origin: 0;
    }

    ul {
      margin-bottom: 0;
      padding-left: 0;
      position: absolute;
      left: 0;
      top: 50%;
      text-align: center;
      width: 100%;
      transform: translateY(-50%);
      visibility: hidden;
      opacity: 0;
      margin-top: 30px;
      transition: all 0.4s ease-in-out 0.2s;

      li {
        list-style: none;
        display: inline-block;
        margin: 0 7px;

        a,
        button {
          display: inline-block;
          height: 45px;
          width: 45px;
          padding: 5px 0;
          vertical-align: middle;
          text-align: center;
          line-height: 1;
          background: $color-body;
          color: #ffffff;
          border: 1px solid $color-body;
          border-radius: 100px;
          outline: none;
          font-size: 1.25rem;
          transition: $transition;

          svg {
            height: 100%;
          }

          &:hover {
            background: $color-theme;
            border-color: $color-theme;
          }
        }
      }
    }
  }

  h5 {
    color: $color-heading;
    margin: 0;
    font-weight: 700;
    font-size: 1.15em;

    a {
      color: #ffffff;
      transition: $transition;

      &:hover {
        color: $color-theme;
      }
    }
  }

  h6 {
    color: $color-body;
    margin-bottom: 0;
  }

  &:hover &-image {
    &::before {
      transform: scaleX(1);
    }

    ul {
      visibility: visible;
      opacity: 1;
      margin-top: 0;
    }
  }

  &.mi-portfolio-visible {
    visibility: visible;
    opacity: 1;
  }
}
/*
3.2 Portfolio
***************************************/
.single-project {
  background: #181a1c;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.75em;
  margin: 1em;
  max-height: 90vh;
  overflow: auto;
  
  @media #{$layout-tablet} {
    grid-template-columns: repeat(1, 1fr);
    max-width: 80%;
    margin: 1em auto;
  }

  @media #{$layout-mobile-lg} {
    grid-template-columns: repeat(1, 1fr);
  }
}
.single-project-img-wrap{
  width: 640px;
  display: inline-block;
}
.single-project-img {
  width: 100%;
  max-width: 90vw;
}
.project-description {
  padding: 20px;
  line-height: 1.4em;
  h3 {
    border-bottom: 1px solid $color-border;
    line-height: 1em;
    padding-bottom: .35em;
  }
  @media #{$layout-tablet} {
    line-height: 1.3em;
    grid-template-columns: repeat(1, 1fr);
  }
  @media #{$layout-mobile-lg} {
    line-height: 1.2em;
    grid-template-columns: repeat(1, 1fr);
  }
  @media #{$layout-mobile-sm} {
    line-height: 1.1em;
    grid-template-columns: repeat(1, 1fr);
  }
  @media #{$layout-mobile-xs} {
    line-height: 1em;
    grid-template-columns: repeat(1, 1fr);
  }
}
.project-description p {
  padding-left: 0;
}
.project-titles {
  background: black;
  padding: 0.5em;
}
.project-title {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid $color-border;
}
.project-title h3 {
  float: left;
  margin: 0;
  padding: 0;
  width: 80%;
}
.project-title .close {
  color: $color-theme;
  margin-top: 10px;
}
.project-info span {
  color: $color-theme;
  font-weight: 700;
}
.project-title h3 {
  color: $color-heading;
}
.project-info {
  font-weight: 100;
  padding: 10px 0;
}
.project-info span {
  width: 80px;
  display: inline-block;
}
.project-info a {
  color: $color-theme;
}
.project-info a:hover {
  text-decoration: underline;
}
.close {
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
}
#portfolio-grid .mix {
  opacity: 0;
  display: none;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(255, 0, 0, 0.5);
}

/////////////////////////////
// MODALI //////////////////
///////////////////////////

.modali-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modali-wrapper {
  display: inline-table;
  position: fixed;
  margin: 0 0 0 1.35em;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modali {
  z-index: 100;
  background: none;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  pointer-events: none;
}

.modali-content {
  pointer-events: auto;
  max-width: 1280px;
  margin: 0 auto;
}

.modali-close-button {
  margin: -1rem -1rem -1rem auto;
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
  color: $color-theme;
  opacity: 0.8;
  cursor: pointer;
  border: none;
  outline: 0 !important;
  float: right;
  position: relative;
  right: 1.45em;
  width: 1.5em;
  height: 1.5em;
  z-index: 9999;
  @media #{$layout-tablet} {
    opacity: 0.8;
  }
  @media #{$layout-mobile-lg} {
    opacity: 0.8;
  }
}
.modali-close-button:hover {
  opacity: 0.8;
  text-decoration: none;
}

@media (min-width: 1025px) {
  .modali-open {
    // padding-right: 15px;
  }
}

.modali-open {
  overflow: hidden;
}

/* Size Classes */

.modali-size-regular {
  min-width: 100%;
  max-width: 500px;
}
.modali-size-large {
  min-width: 100%;
  max-height: 100%;
}

/* Position Classes */

.modali-wrapper-centered {
  top: 40% !important;
}

@media (min-width: 1000px) {
  .modali-wrapper-centered {
    top: 0 !important;
    display: flex !important;
    align-items: center;
  }
}

/* Animation Classes */

.modali-animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.modali-animation-fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
