/*
 * Portfolio
 */

.mi-portfolio {
  transition: $transition;
  visibility: hidden;
  opacity: 0;
  text-align: center;

  &-image {
    display: block;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 15px;
      top: 15px;
      height: calc(100% - 30px);
      width: calc(100% - 30px);
      background: rgba($color-bg-body, 0.5);
      transition: $transition;
      transform: scaleX(0);
      transform-origin: 0;
    }

    ul {
      margin-bottom: 0;
      padding-left: 0;
      position: absolute;
      left: 0;
      top: 50%;
      text-align: center;
      width: 100%;
      transform: translateY(-50%);
      visibility: hidden;
      opacity: 0;
      margin-top: 30px;
      transition: all 0.4s ease-in-out 0.2s;

      li {
        list-style: none;
        display: inline-block;
        margin: 0 7px;

        a,
        button {
          display: inline-block;
          height: 45px;
          width: 45px;
          padding: 5px 0;
          vertical-align: middle;
          text-align: center;
          line-height: 1;
          background: $color-body;
          color: #ffffff;
          border: 1px solid $color-body;
          border-radius: 100px;
          outline: none;
          font-size: 1.25rem;
          transition: $transition;

          svg {
            height: 100%;
          }

          &:hover {
            background: $color-theme;
            border-color: $color-theme;
          }
        }
      }
    }
  }

  h5 {
    color: $color-heading;
    margin: 0;
    font-weight: 700;
    font-size: 1.15em;

    a {
      color: #ffffff;
      transition: $transition;

      &:hover {
        color: $color-theme;
      }
    }
  }

  h6 {
    color: $color-body;
    margin-bottom: 0;
  }

  &:hover &-image {
    &::before {
      transform: scaleX(1);
    }

    ul {
      visibility: visible;
      opacity: 1;
      margin-top: 0;
    }
  }

  &.mi-portfolio-visible {
    visibility: visible;
    opacity: 1;
  }
}
/*
3.2 Portfolio
***************************************/
.single-project {
  background: #181a1c;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.75em;
  margin: 1em;
  max-height: 90vh;
  overflow: auto;

  @media #{$layout-tablet} {
    grid-template-columns: repeat(1, 1fr);
    max-width: 80%;
    margin: 1em auto;
  }

  @media #{$layout-mobile-lg} {
    grid-template-columns: repeat(1, 1fr);
  }
}
.single-project-img-wrap {
  width: 640px;
  display: inline-block;
}
.single-project-img {
  width: 100%;
  max-width: 90vw;
}
.project-description {
  padding: 20px;
  line-height: 1.4em;
  h3 {
    border-bottom: 1px solid $color-border;
    line-height: 1em;
    padding-bottom: 0.35em;
  }
  @media #{$layout-tablet} {
    line-height: 1.3em;
    grid-template-columns: repeat(1, 1fr);
  }
  @media #{$layout-mobile-lg} {
    line-height: 1.2em;
    grid-template-columns: repeat(1, 1fr);
  }
  @media #{$layout-mobile-sm} {
    line-height: 1.1em;
    grid-template-columns: repeat(1, 1fr);
  }
  @media #{$layout-mobile-xs} {
    line-height: 1em;
    grid-template-columns: repeat(1, 1fr);
  }
}
.project-description p {
  padding-left: 0;
}
.project-titles {
  background: black;
  padding: 0.5em;
}
.project-title {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid $color-border;
}
.project-title h3 {
  float: left;
  margin: 0;
  padding: 0;
  width: 80%;
}
.project-title .close {
  color: $color-theme;
  margin-top: 10px;
}
.project-info span {
  color: $color-theme;
  font-weight: 700;
}
.project-title h3 {
  color: $color-heading;
}
.project-info {
  font-weight: 100;
  padding: 10px 0;
}
.project-info span {
  width: 80px;
  display: inline-block;
}
.project-info a {
  color: $color-theme;
}
.project-info a:hover {
  text-decoration: underline;
}
.close {
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
}
#portfolio-grid .mix {
  opacity: 0;
  display: none;
}

/////////////////////////////
// MODAL ///////////////////
///////////////////////////

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.modal {
  width: 100%;
  height: fit-content;
  background: rgb(226, 176, 176);
  z-index: 9999999;
  border: 9px solid green;
  transition: $transition;

  @media #{$layout-desktop-xs} {
    width: calc(100% - 300px);
    margin-left: 300px;
  }
  @media #{$layout-laptop} {
    width: calc(100% - 260px);
    margin-left: 260px;
  }
}
.modal button {
  color: #444;
  border-color: #444;
  font-weight: bold;
}
.modal p {
  color: #444;
  font-weight: bold;
}
